---
- name: Create directories /etc/kubernetes/manifests
  file:
    path: /etc/kubernetes/{{item}}
    state: directory
    mode: 0755
    recurse: no
    owner: root
    group: root
  with_items: [ "manifests", "ssl" ]

- name: Write Kubernetes Manifests
  template:
    src: "{{ item }}.yaml.j2"
    dest: /etc/kubernetes/manifests/{{item}}.yaml
    mode: 0644
    owner: root
    group: root
  with_items: [ "kube-proxy" ]
  tags: kubernetes-manifest

- name: Worker KubeConfig
  template:
    src: worker-kubeconfig.yaml.j2
    dest: /etc/kubernetes/worker-kubeconfig.yaml
    mode: 0644
  tags: kubernetes-config

- name: write kubelet-kubeconfig.yaml
  template:
    src: kubelet-kubeconfig.yaml.j2
    dest: /etc/kubernetes/kubelet-kubeconfig.yaml
    mode: 0644
  tags: kubernetes-config

- name: proxy kubeconfig
  template:
    src: proxy-kubeconfig.yaml.j2
    dest: /etc/kubernetes/proxy-kubeconfig.yaml
    mode: 0644
  tags: kubernetes-config

- name: Kubelet systemd service
  template:
    src: kubelet.service.j2
    dest: /etc/systemd/system/kubelet.service
    mode: 0644
  notify:
  - k8s_worker_kubelet_systemd
  tags: kubelet

- name: Kubelet start
  systemd:
    name: kubelet
    enabled: yes
    state: started
